<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <p>
        <%=message %>
    </p>

    <form action="/" method="post">
        <input type="text" name="message">
        <button type="submit" name="button">送信</button>
    </form>

    <a href="/">セッション確認</a>

</body>

</html>